<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.skadi.powersellsys.mapper.GoodsMapper">
	<update id="updatePower">
		UPDATE powers
		<set>
			<if test="name != null">
				`name` = #{name},
			</if>
			<if test="typeId != null">
				type = #{typeId},
			</if>
			<if test="model != null">
				model = #{model},
			</if>
			<if test="capacity != null">
				capacity = #{capacity},
			</if>
			<if test="stock != null">
				stock = #{stock},
			</if>
			<if test="price!= null">
				price = #{price},
			</if>
			<if test="discount != null">
				discount = #{discount},
			</if>
			<if test="status != null">
				`status` = #{status},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="describe != null">
				`describe` = #{describe},
			</if>
			<if test="sum != null">
				sum = #{sum}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="page" resultType="team.skadi.powersellsys.pojo.Goods">
		SELECT * FROM goods
		<where>
			<if test="type!= null">
				type = #{type}
			</if>
			<if test="name != null">
				AND `name` LIKE CONCAT('%',#{name},'%')
			</if>
			<if test="model != null">
				AND model = #{model}
			</if>
			<if test="capacity != null">
				AND capacity = #{capacity}
			</if>
			<if test="stock != null">
				AND stock = #{stock}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="status != null">
				AND `status` = #{status}
			</if>
			<if test="discount != null">
				AND discount = #{discount}
			</if>
		</where>
	</select>
	<select id="selectPriceRank" resultType="team.skadi.powersellsys.pojo.Goods">
		SELECT id,`name`,price FROM goods
		<where>
			<if test="name != null">
				`name` LIKE CONCAT('%',#{name},'%')
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
		</where>
		ORDER BY price DESC
	</select>

</mapper>